{% extends "base.html" %}
    
{% block content %}
<h2 class="text-center">ПКС-2-24</h2>
<div class="conatiner mt-5">
    <div class="row">
        <!-- col -->
        {% for news in news_all %}
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{news.image.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{news.title}}</h5>
                        <p class="card-text">{{news.description|truncatewords:15|safe}}</p>
                        <a href="{% url 'news_detail' news.slug %}" class="btn btn-primary">Читать дальше</a>
                    </div>
                </div> 
            </div>
        {% endfor %}
        <!-- col -->
    </div>
</div>
{% endblock content %}
    
