{% extends "base.html" %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <!-- col -->
        <div class="col-lg-8">
            <img height="400px" src="{{news.image.url}}" alt="">
            <p>Категория: {{news.category}}</p>
            <h1>{{news.title}}</h1>
            <p>{{news.description|safe}}</p>
        </div>
        <!-- col -->
        <div class="col-lg-4">
            <h4>Комментарии</h4>
            <form method="POST">
                <input class="form-control mt-2" type="text" placeholder="ФИО">
                <textarea class="form-control mt-2" name="" id="" placeholder="Сообщение"></textarea>
                <button class="btn btn-primary mt-2" type="submit">Отправить</button>
            </form>
            <hr>    
            <div class="comments">
                <div class="comment">
                    <h4>Гена Алкаш</h4> 
                    <p>
                        <i>Дата публикациии: 20.01.2026</i> 
                        <br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quibusdam similique soluta corrupti tempore, dignissimos, dolor commodi quaerat nisi nostrum impedit dolorum facilis magni praesentium id? Hic esse nam numquam.</p>
                </div>
                <div class="comment">
                    <h4>Чебурашка </h4> 
                    <p>
                        <i>Дата публикациии: 20.01.2026</i> 
                        <br> rat nisi nostrum impedit dolorum facilis magni praesentium id? Hic esse nam numquam.</p>
                </div>
            </div>
        </div>
        <!-- col -->
    </div>
</div>
{% endblock content %}